.blurb{
    font-weight: 100;
    color:  $white;

    &__heading{
        font-size: 2rem;
    }

    &__paragraph{
        font-size: 1.125rem;
        line-height: 1.7;
    }

    li{
        list-style: none;
    }
}