.site-header{
    padding: 10px 0;
    position: absolute;
    z-index: 2;
    width: 100%;

    @mixin atMedium{
        background-color: rgba(131, 151, 166, 0.3);
    }
    
    &__btn-container{
        float: right;
    }

    &__logo{
        position: absolute;
        top: 0;
        padding: 10px 29px;
        left: 50%;
        transform: translateX(-50%);

        @mixin atMedium{
            left: auto;
            transform: translateX(0);
            padding: 15px 38px;
        }

        h3{
            font-family: 'Ranchers', cursive;
            font-size: 2rem;
            color: #fff;
        }
    }

    &__menu-icon{
        width: 20px;
        height: 20px;
        background-color: #fff;
        position: absolute;
        top: 10px;
        right: 10px;

        @mixin atMedium{
            display: none;
        }
    }

    &__menu-content{
        display: none;

        @mixin atMedium{
            display: block;
        }

        &--is-visible{
            display: block;
        }
    }
}